---
import "@/styles/global.css";

import { Button } from "@/components/ui/button";

import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Button>Hello World</Button>
  </main>
</Layout>

<style>
  main {
    width: 800px;
    max-width: calc(100% - 2rem);
    padding: 1rem;
    margin: auto;
    font-size: 20px;
    line-height: 1.6;
    color: white;
  }
</style>
